body{
    background-color: black;
    color: white;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.hi{
    text-align: center;
    display: block;
    border: 2px solid white;
    border-radius: 60px;
    margin: 1rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.status{
    border-radius: 20px;
    background-color: rgba(55, 255, 135, 0.938);
    color: rgb(48, 41, 41);
    text-align: center;
    display: inline-block;
   padding: .5rem;
}
.top{
   text-align: center;
   display: flex;
   justify-content: center;
   gap: 5%;
   border-radius: 20px;
   margin: 1rem;
   background-color: rgba(255, 255, 255, 0.15);
}
.movie_detail h4{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    border-radius: 30px;
 }
.date_time{
   padding: 0.5rem;
   background-color: orange;
   border-radius: 40px;
   text-align: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.poster_img{
    border-radius: 20px;
    max-width: 100%;
    min-width: 500;
    height: auto;
    
}
footer{
    text-align: right;
    bottom: 0%;
}
